.home-gallary {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 10%;
  -moz-column-width: 10%;
  column-width: 10%;
  padding: 80px 100px;
  background-color: rgb(0, 0, 0);
}
.home-gallary .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  padding-top: 5px;
}
/* https://res.cloudinary.com/dzbtxebuf/image/upload/v1672028604/Website%20Images/_ENO0789_km2foi.jpg */
.home-img {
  background-image: url("https://res.cloudinary.com/dzbtxebuf/image/upload/v1672028604/Website%20Images/_ENO0789_km2foi.jpg");
  /* background-size: cover; */
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-attachment: fixed; */
  background-position: 0% 65%;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
  /* z-index: -1; */
}

/* .home-gallary .pics:hover {
  transform: scale(1.02);
} */
.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sliderWrap .btnClose,
.sliderWrap .sldNum,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
}
.sliderWrap .sldNum {
  top: 40px;
  left: 40px;
}
.btnNext:hover,
.sldNum:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}
.sliderWrap .btnClose {
  top: 40px;
  right: 40px;
}
.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}
.fullScreenImage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (max-width: 800px) {
  .home-img {
    background-position: 50% 50% 50% 50%;
  }
  .home-gallary {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 480px) {
  .home-gallary {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px) {
  /* .home-img{
    width: 100%;
    height: 20px;
  } */
  .home-gallary {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
