@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info {
  height: 85rem;
  width: 100%;
  /* margin-top: 10rem; */
  background: #000;
}
.info__title {
  background-color: #000;
  height: 20rem;
  padding-top: 10rem;
  text-align: center;
  /* margin: 10rem 10rem 0rem; */
}

.info__title h1 {
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.info__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}
.info__image {
  height: 645px;
  width: 745px;
}
.info__img {
  height: 645px;
  width: 745px;
}
.info__text-1 {
  /* padding: 1rem; */
  width: 525px;
  /* background: red; */
  /* width: 30rem; */
}
.info__text-2 {
  text-align: center;
  margin-top: 5rem;
}
.info__text-2 h2 {
  margin-bottom: 1rem;
  color: white;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.info p {
  font-size: 14px;
  font-family: "Lora", serif;
  margin-bottom: 3rem;
  /* white-space: nowrap; */
  color: white;
  line-height: 2.4em;
  letter-spacing: 0em;
}

/* @media (max-width: 800px) {
  .info__image {
    height: 10rem;
    width: 10rem;
  }
  .info__text-1 {
    padding: 1rem;
    background: green;
    width: 30rem;
    height: 30rem;
  }
} */

@media (max-width: 1280px) {
  .info__image {
    height: 545px;
    width: 545px;
  }
  .info__img {
    height: 545px;
    width: 545px;
  }
}

@media (max-width: 1024px) {
  .info__image {
    height: 445px;
    width: 445px;
  }
  .info__img {
    height: 445px;
    width: 445px;
  }
  .info__text-1 {
    width: 425px;
  }
  .info__text-1 p {
    line-height: 2.4em;
    margin-bottom: 1rem;
  }
}

@media (max-width: 975px) {
  .info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .info__image {
    height: 645px;
    width: 645px;
  }
  .info__img {
    height: 645px;
    width: 645px;
  }
  .info__text-1 {
    width: 625px;
  }
  .info {
    height: 115rem;
  }
  .info__text-1 p {
    line-height: 3.4em;
    /* margin-bottom: 2rem; */
  }
}

@media (max-width: 765px) {
  /* .info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  } */
  .info__image {
    height: 445px;
    width: 445px;
  }
  .info__img {
    height: 445px;
    width: 445px;
  }
  .info__text-1 {
    width: 525px;
  }

  .info__text-2-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .info__text-2 {
    text-align: center;
    margin-top: 3rem;
    width: 525px;
  }
}

@media (max-width: 610px) {
  .info__text-1 {
    width: 425px;
  }
  .info__text-2 {
    width: 425px;
  }
  .info {
    height: 120rem;
  }
}

@media (max-width: 476px) {
  .info__image {
    height: 345px;
    width: 345px;
  }
  .info__img {
    height: 345px;
    width: 345px;
  }
  .info__text-1 {
    width: 325px;
  }
  .info__text-2 {
    width: 325px;
  }
  .info {
    height: 120rem;
  }

  .info__text-1 p {
    line-height: 2.4em;
  }
}
