@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Montserrat:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  font-family: "Lora", serif;
}
.navbar {
  line-height: 10vh;
  height: 10vh;
  box-shadow: rgba(50, 50, 93, 0 23) 0 30px 30px -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  /* margin: 0 10px 0 30px; */
  position: fixed;
  width: 100%;
  /* background-color: red; */
}

.logo {
  margin-top: 2rem;
  height: 5rem;
  margin-left: 2rem;
  /* padding-top: 5px; */
  /* text-align: center; */
  cursor: pointer;
}
.text-link {
  text-decoration: inherit;
  text-transform: capitalize;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.nav-links li {
  /* color: rgb(255, 255, 255); */
  color: white;
  font-size: 12px;
  padding: 0 9.08px;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

button {
  border: none;
  background: none;
  font-size: 20px;
}
.mobile-menu-icon {
  display: none;
  /* font-size: 10rem; */

}

@media (max-width: 1024px) {
  .logo {
    display: flex;
    position: fixed;
    top: -35px;
    left: -10px;
    height: 5rem;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    box-shadow: rgba(50, 50, 93, 0 23) 0 30px 30px -20px;
    list-style: none;
    left: 0;
    top: 0;
    transition: 2s ease-in-out;
    width: 100%;
    background: black;
  }

  ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
    text-align: center;
    color: white;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    color: white;
  }
}
